.container-table {
    margin: 150px auto;
    width: 80vw;
}

table {
    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    animation: moveRight 5s ease-in;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

td, th {
    padding: 20px;
}

thead {
    background-color: teal;
    border-bottom: 5px solid #0f362D;
    color: white;
    font-size: 24px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: rgb(0, 128, 128, 0.479);
    color: white;
}



